<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Pinteresting", root_path %>
	<%= link_to "About Our App", about_path %>
	<%= link_to "Contact Us", contact_path %>
	<%= link_to "Meet the Team", meet_path %>
<%= yield %>

</body>
</html>
